body {
    font-family: Arial, sans-serif;
    background-color: #e6f8fa;
}

a {
    text-decoration: none; 
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

.gameArea {
    display: flex;
    flex-direction: column; /* Stack board and rack vertically */
    align-items: center;
    flex: 1;
}

.info-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button{
    background-color: #a5d4ef;
    color: black;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    text-align: center;
}

.button:hover {
    background-color: #043487cf;
    cursor: pointer;
}

/* Music & Sound Buttons */

#sound-buttons label {
    padding-top: 9px;
    width: 48px;
    height: 41px;
    background-color: #a5d4ef;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#music-slider-container {
    visibility: hidden; /* Hide initially */
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.5s;
    position: absolute;
}

#music-btn:hover + #music-slider-container, 
#music-slider-container:hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

#sound-slider-container {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.5s;
    position: absolute;
}

#sound-btn:hover + #sound-slider-container,
#sound-slider-container:hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.slider-container:hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.slider-container{
    position: absolute;
    margin-top: 5px;
    left: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0s linear 1s;
}

/* Board and Rack elements */

#board {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    width: 650px;
    height: 650px;
    gap: 2px;
}

#rack-container{
    position: relative;
    width: 85%;
    height: 80px;
    margin: 15px;
    background-color: #a5d4ef;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

/* Changes each seperate letter in the tile board */
#tile-rack div {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #d1b189;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tile-rack {
    position: relative;
    right: 29%;
    top: -15px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    border-radius: 5px;
    flex-wrap: nowrap;
}

 /* Tile on the board */
.draggable-tile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background-color: yellow;
    border: 2px solid #000;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    z-index: 5;
}

#submit-word-btn{
    width: 60px;
    height: 100%;   
    flex-shrink: 0;
    text-align: center;
    border-radius: 35px;
    background-color: #ddd5d5;
}

#submit-word-btn:hover {
    background-color: #043487cf;
    cursor: pointer;
}

/* When the submit button is disabled */
#submit-word-btn:disabled {
    pointer-events: none; /* Prevent any mouse interactions */
}

#submit-word-btn:disabled:hover {
    background-color: #ccc;
}

#suffle-tiles-btn {
    width: 75px;
    height: 100%;  
    text-align: center;
    border-radius: 10px;
    background-color: #ddd5d5;
    flex-shrink: 0;
}

.score-bubble {
    position: absolute;
    top: -10px; 
    left: -15px;
    width: 25px;
    height: 25px;
    background-color: #129c12;
    color: black;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 2px 5px #00000033;
    z-index: 10;
  }

/* Individual tile styles */
.board-cell {
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #C4C4D1;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
  
/* Bonus tiles */
.board-cell.double-letter {
    background-color: #68A2C3;
}   

.board-cell.triple-letter {
    background-color: #2B546B;
}

.board-cell.double-word {
    background-color: #D68E8E;
}

.board-cell.triple-word {
    background-color: #AC3E3E;
}

#error-message{
    position: relative;
}

/* Popup that shows how to play */
.popup {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 110%;
    height: 100%;
    background-color: #00000080;
    justify-content: center;
    align-items: center;
}

/* Pop-up Content */
.popup-content {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    box-shadow: 5px 5px 10px #0000004d;
    position: relative;
}

/* Close Button */
.close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer; 
}

/* Info box */
#info-box {
    width: 100%;
    height: 618px;
    background-color: #edeeee;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

#score-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.small-box {
    width: 49%;
    height: 120px;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#player {
    background-color: #81a6f7;
}

/* Turn indicator - Star symbol */
.turn-indicator {
    font-size: 22px;
    color: transparent; /* Hide the star initially*/
    transition: color 0.3s ease;
}

#player-turn.active .turn-indicator {
    color: gold;
}

#computer-turn.active .turn-indicator {
    color: gold;
}

#total-score {
    text-align: center;
    padding: 15px;
    width: 45%; 
    height: 20px;
    background-color: #5254bc;
    border-radius: 5px;
    position: absolute;
    bottom: 1px;
    color: white;
}

#computer {
    background-color: #f78185;
}

#computer-score {
    text-align: center;
    padding: 15px;
    width: 45%; 
    height: 20px;
    background-color: #c44348;
    border-radius: 5px;
    position: absolute;
    bottom: 1px;
    color: white;
}

#text-section {
    margin-top: 15px; /* Space between boxes and text */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#round-number {
    font-size: 19px;
    margin-bottom: -10px;
}

#def-title {
    margin-bottom: -2px;
    text-decoration: underline;
}

#definition{
    display: none; /* Hide by default */
    background-color: #f4f7f7;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 8px 12px;
    box-shadow: 2px 3px 3px #00000050;
}

#tile-bag-summary {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: #f4f7f7;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 8px 12px;
    box-shadow: 2px 3px 3px #00000050;
    margin-top: -22px;
}

/* Buttons under the info box */

#button-container {
    display: flex;
    align-self: flex-start; 
    gap: 20px;
    margin-left: -15px;
    margin-top: 17px;
}

.btn {
    background-color: #a5d4ef;
    color: black;
    padding: 15px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.btn:hover {
    background-color: #043487cf;
    cursor: pointer;
}

#resign {
    margin-top: 0px;
}