body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background-color: #e6f8fa;
}

/* Music, Sound, Profile */
#left-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#left-buttons label {
    padding-top: 12px;
    width: 70px;
    height: 62px;
    background-color: #a5d4ef;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#left-buttons label:hover {
    background-color: #2980b9;
    cursor: pointer;
}

/* Music & Sound Slider Adjustments */
#music-slider-container {
    visibility: hidden; /* Hide initially */
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.5s;
    position: absolute;
}

#music-btn:hover + #music-slider-container, 
#music-slider-container:hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

#sound-slider-container {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.5s;
    position: absolute;
}

#sound-btn:hover + #sound-slider-container,
#sound-slider-container:hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.slider-container:hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.slider-container{
    position: absolute;
    margin-top: 25px;
    left: 75px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0s linear 1s;
}

#sound-slider-container{
    position: absolute;
    margin-top: 100px;
}

/* Show the users information if they hover over the profile icon */

#profile-text {
position: absolute;
width: 400px;
left: 20px;
background-color: #87abf3;
padding: 12px;
border-radius: 10px;
visibility: hidden;
opacity: 0;
transition: opacity 0.3s ease, visibility 0.3s ease;
z-index: 10;
font-size: 25px;
font-family: Georgia;
}

#user-profile:hover #profile-text {
visibility: visible;
opacity: 1;
}

/* Position the logout button in the top-right corner */
#logout {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #a5d4ef;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

#logout:hover {
    background-color: #2980b9;
    transform: scale(1.08);
}

/* Center of page Layout */
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#logo-image {
    width: 80%;
    height: auto;
    margin-top: 70px;
    margin-bottom: 20px;
}

/* Button Layout */
#button-container {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.buttons {
    display: flex;
    width: 250px;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 15px; /* Adds spacing between text and icon */
    padding: 10px 20px;
    font-size: 30px;
    background-color: #a5d4ef;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 5px 5px #0000006c;
    transition: transform 0.2s ease-in-out;
}

.buttons:hover {
    background-color: #2980b9;
    transform: scale(1.08);
}

#play-btn {
    margin-top: -40px;
    width: 270px;
    height: 75px;
    font-size: 35px;
    padding: 15px 30px;
    background-color:  #60a8d1;
    text-decoration: none;
}

#play-btn:hover {
    background-color: #5df75d;
}

/* Popup that shows how to play */
.popup {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 110%;
    height: 100%;
    background-color: #00000080;
    justify-content: center;
    align-items: center;
}

/* Pop-up Content */
.popup-content {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    box-shadow: 5px 5px 10px #0000004d;
    position: relative;
}

/* Close Button */
.close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer; 
}